<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Winter 2022 Challenge</title>
    </head>
    <body>
        <h1>Shopify Winter 2022 Backend Challenge</h1>
        <p>Please upload an image.</p>
        <form method="POST" action="/" enctype="multipart/form-data">
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
    </body>
</html>